#content-section-container {
    padding: 40px 20px 0 20px;
}

#top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #CECFDC;

    h3 {
        margin: 0;
        font-weight: 800;
    }

    hr {
        flex: 1;
        margin: 0 20px;
        border-width: 0;
        background-color: #CECFDC;
        height: 1px;
    }

    #arrow-buttons {
        width: 35px;
        color: $DarkPlum;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            stroke: $DarkPlum;
            stroke-width: 2;
            width: 15px;
            height: 15px;
        }
    }
}

#bottom-container {
    display: flex;
    padding: 30px 0 0 15px;
    align-items: center;
    text-align: center;
    overflow: scroll;
    max-width: 100%;

    .track {
        margin: 0 15px 0 0;
    }

    .last-track {
        margin-right: 0;
    }

    svg {
        width: 150px;
        height: 150px;
        border-radius: 7px;
        background-color: lightblue;
    }

    p {
        margin: 0;
        padding-top: 8px;
        font-weight: 600;
    }
}

// DESKTOP

@media only screen and ($Desktop) {
    #content-section-container {
        padding: 40px 30px 0 30px;
    }
}