nav {
    width: 20%;
    min-width: 50px;
    max-width: 170px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $DarkPlum;
    color: white;
}

#profile-picture {
    flex: 0.15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
        width: 25px;
    }

    p {
        display: none;
        margin: 12px 0 0 0;
    }
}

#nav-links {
    flex: 0.8;
    display: flex;
    justify-content: center;

    ul {
        padding-left: 0;
    }

    li {
        margin-bottom: 45px;
        list-style: none;
        display: flex;
        align-items: center;
    }

    p {
        display: none;
        margin: 0 0 0 13px;
    }
}

// DESKTOP

@media only screen and ($Desktop) {

    #profile-picture {
        flex: 0.2;
        position: relative;
        padding-bottom: 15px;

        img {
            width: 45px;
        }

        p {
            display: inline-block
        }
    }

    #nav-links {
        flex: 0.8;

        p {
            display: inline-block;
        }
    }
}