nav {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $DarkPlum;
    color: white;
}

#profile-picture {
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        width: 28%;
    }
}

#nav-links {
    flex: 0.8;
    display: flex;
    justify-content: center;

    ul {
        padding-left: 0;
    }

    li {
        margin-bottom: 40px;
        list-style: none;
    }
}